.profile-section {
    display: grid;
    grid-template-columns: 20% 32% 20%;
    justify-content: center;
    margin-left: 1vw;
}

.profile-items {
    text-align: center;
    padding: 2em 6em;
    border: 10px solid rgb(170, 90, 70);
    background-color: #fffAF1;
}

.profile-image {
    width: 16em;
    height: 16em;
    padding: 2em;
    border-radius: 1em;
    background-color: black;
}

.profile-decks {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    background-color: rgb(140, 180, 120);
    border: 10px solid black;
    border-radius: 10px;
    width: 70vw;
    height: 50vh;
    margin: 2em auto;
    overflow-y: auto;
    justify-content: space-around;
}

.profile-decks-div {
    width: 85%;
    height: 225px;
    background-color: #fffAF1;
    border: 10px solid rgb(170, 90, 70);
    margin: 2em;
    padding: .8em;
    word-wrap: break-word;
    overflow-y: auto;
}

.profile-deck-h1 {
    font-size: 2em;
    text-align: center;
}

.profile-decks-div-h1 {
    font-size: 1.25em;
    margin: .87em 0;
}

.edit-profile-form-div {
    padding-top: 4em;
    width: 80%;
    text-align: center;
    justify-self: center;
    border: 10px solid rgb(170, 90, 70);
    background-color: #fffAF1;
}