.deck-container-div {
    display: inline-grid;
    grid-template-columns: 40vw 60vw;
    grid-template-rows: 100%;
}

.deck-builder-div {
    justify-self: right;
}

.deck-board-div {
    justify-self: center;
}

.card-edit-form {
    overflow-y: auto;    
}

#edit_card_text {
    width: 90px;
}

.edit-card-form-buttons-div{
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 2em;
    font-size: .7em;
    margin: 0;
    padding: 0;
}

.edit-card-form-btn {
    justify-self: center;
}