.deck-container-div {
    display: inline-grid;
    grid-template-columns: 40vw 60vw;
    grid-template-rows: 100%;
}

.deck-builder-div {
    justify-self: right;
}

.deck-board-div {
    justify-self: center;
}